# This is Jeopardy!

#### Overview

This project is slightly different than others you have encountered thus far. Instead of a step-by-step tutorial, this project contains a series of open-ended requirements which describe the project you'll be building. There are many possible ways to correctly fulfill all of these requirements, and you should expect to use the internet, Codecademy, and/or other resources when you encounter a problem that you cannot easily solve.

#### Project Goals

You will work to write several functions that investigate a dataset of _Jeopardy!_ questions and answers. Filter the dataset for topics that you're interested in, compute the average difficulty of those questions, and train to become the next Jeopardy champion!

## Prerequisites

In order to complete this project, you should have completed the Pandas lessons in the <a href="https://www.codecademy.com/learn/paths/analyze-data-with-python">Analyze Data with Python Skill Path</a>. You can also find those lessons in the <a href="https://www.codecademy.com/learn/data-processing-pandas">Data Analysis with Pandas course</a> or the <a href="https://www.codecademy.com/learn/paths/data-science/">Data Scientist Career Path</a>.

Finally, the <a href="https://www.codecademy.com/learn/practical-data-cleaning">Practical Data Cleaning</a> course may also be helpful.

## Project Requirements

1. We've provided a csv file containing data about the game show _Jeopardy!_ in a file named `jeopardy.csv`. Load the data into a DataFrame and investigate its contents. Try to print out specific columns.

   Note that in order to make this project as "real-world" as possible, we haven't modified the data at all - we're giving it to you exactly how we found it. As a result, this data isn't as "clean" as the datasets you normally find on Codecademy. More specifically, there's something odd about the column names. After you figure out the problem with the column names, you may want to rename them to make your life easier for the rest of the project.
   
   In order to display the full contents of a column, we've added this line of code for you:
   
   ```py
   pd.set_option('display.max_colwidth', None)
   ```

In [1]:
import pandas as pd
pd.set_option('display.max_colwidth', None)

jeopardy = pd.read_csv('jeopardy.csv')

jeopardy = jeopardy.rename(columns={'Show Number':'show_number',
                                   ' Air Date':'air_date',
                                    ' Round': 'round',
                                    ' Category':'category',
                                    ' Value':'value',
                                    ' Question':'question',
                                    ' Answer':'answer'
                                   })

jeopardy.head()

,show_number,air_date,round,category,value,question,answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,"No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves",Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,"The city of Yuma in this state has a record average of 4,055 hours of sunshine each year",Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", this company served its billionth burger",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States",John Adams

2. Write a function that filters the dataset for questions that contains all of the words in a list of words. For example, when the list `["King", "England"]` was passed to our function, the function returned a DataFrame of 49 rows. Every row had the strings `"King"` and `"England"` somewhere in its `" Question"`.

   Test your function by printing out the column containing the question of each row of the dataset.

In [2]:
jeopardy['float_value'] = jeopardy['value'].apply(lambda x: float(x[1:].replace(',','')) if x != 'no value' else 0) #lambda option for converting Values to floats, not safe for messy data and big datasets

3. Test your original function with a few different sets of words to try to find some ways your function breaks. Edit your function so it is more robust.

   For example, think about capitalization. We probably want to find questions that contain the word `"King"` or `"king"`.
   
   You may also want to check to make sure you don't find rows that contain substrings of your given words. For example, our function found a question that didn't contain the word `"king"`, however it did contain the word `"viking"` &mdash; it found the `"king"` inside `"viking"`. Note that this also comes with some drawbacks &mdash; you would no longer find questions that contained words like `"England's"`.

SyntaxError: invalid syntax (1029647992.py, line 3)

In [3]:
def filter_questions(df, words):
    filter = lambda x: all(word in x for word in words)
    return df.loc[df['question'].apply(filter)]

words_list = ['King', 'England']

search_words = filter_questions(jeopardy, words_list)



words_list2 = ['Football', 'play']

print(filter_questions(jeopardy, words_list2))

        show_number    air_date             round  \
18969          5601  2009-01-05  Double Jeopardy!
35284           503  1986-11-12  Double Jeopardy!
36792          4555  2004-05-28  Double Jeopardy!
52485          2912  1997-04-08         Jeopardy!
62480          5574  2008-11-27         Jeopardy!
62498          5574  2008-11-27         Jeopardy!
91485          3826  2001-04-02         Jeopardy!
130147         6190  2011-07-08         Jeopardy!
130690         4966  2006-03-27         Jeopardy!
135888         4624  2004-10-14  Double Jeopardy!
152750         4801  2005-06-20         Jeopardy!
159085         4763  2005-04-27  Double Jeopardy!
191687         4103  2002-06-05         Jeopardy!
192631         3671  2000-07-17         Jeopardy!
209221         4785  2005-05-27  Double Jeopardy!

                             category  value  \
18969                 PIGSKIN LEGENDS  $1200
35284                 SPORTS STADIUMS   $200
36792        WARREN BEATTY FILM ROLES  $1200
52485                 MUSICAL THEATRE   $300
62480   THE PRO FOOTBALL HALL OF FAME   $400
62498   THE PRO FOOTBALL HALL OF FAME  $1000
91485                          LANCES   $500
130147                       WEBSITES   $600
130690             THE HEISMAN TROPHY   $600
135888        WHATEVER HAPPENED TO...   $800
152750                   ALLITERATION   $200
159085   ACADEMY AWARD-WINNING ACTORS  $1200
191687                      "B" THERE   $400
192631                          LINES   $100
209221                        THE NFL  $1600

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  question  \
18969   (<a href="http://www.j-archive.com/media/2009-01-05_DJ_03.jpg" target="_blank">Kelly of the Clue Crew reports from the Pro Football Hall of Fame in Canton, OH.</a>)  In 1967, this bench provided support but little warmth to players of the <a href="http://www.j-archive.com/media/2009-01-05_DJ_03a.jpg" target="_blank">Ice Bowl</a>, the NFL's coldest <a href="http://www.j-archive.com/media/2009-01-05_DJ_03b.jpg" target="_blank">championship game</a> at this stadium
35284                                                                                                                                                                                                                                                                                                                                                                                           Football's New York Jets play their home games in a N.J. stadium named for this other team
36792                                                                                                                                                                                                                                                                                                                                                                                                                                    Football player Joe Pendleton, back from the dead
52485                                                                                                                                                                                                                                                                                                                                                                                         Football star Joe Namath played baseball star Joe Hardy in a 1981 production of this musical
62480                                                                                        (<a href="http://www.j-archive.com/media/2008-11-27_J_07.jpg" target="_blank">Kelly of the Clue Crew indicates a photo of a Dallas Cowboys player.</a>) At the Pro Football Hall of Fame, you can try to catch 22, but <a href="http://www.j-archive.com/media/2008-11-27_J_07a.jpg" target="_blank">this</a> Cowboy was so explosive, he danced his way to the NFL's all-time rushing record
62498                                                                                (<a href="http://www.j-archive.com/media/2008-11-27_J_10.jpg" target="_blank">Kelly stands in front of a bust.</a>) The only player to make it into the Pro Football Hall of Fame here in Canton, Ohio & the Canadian Football Hall of Fame in Hamilton, Ontario is <a href="http://www.j-archive.com/media/2008-11-27_J_10a.jpg" target="_blank">this</a> man whose name sounds like a heavenly body
91485                                                                                                                                                                                                                                                                                                                                                                        Nicknamed Bambi, this Chargers wide receiver was the first AFL player inducted into the Football Hall of Fame
130147                                                                                                                                                                                                                                                                                                                                                                      You can play games called Football Frenzy & All-star Dodgeball at sikids.com, this magazine's website for kids
130690                                                                                                                                                                                                                                                                                                                                                            8 Heisman winners are Pro Football Hall of Famers, including this Dallas QB who won in 1963 when he was playing for Navy
135888                                                                                                                                                                                                                                                                                                                                                                             The party was over for him after "Monday Night Football", but he did play himself on "King of the Hill"
152750                                                                                                                                                                                                                                                                                                                                                                                                                     Football, baseball & water polo when watched rather than played
159085                                                                                                                                                                                                                                                                                                                                                                                                                                                   1996: Football player Rod Tidwell
191687                                                                                                                                                                                                                                                                                                                                                                                           The Canadian Football League's Lions play in Vancouver but represent this entire province
192631                                                                                                                                                                                                                                                                                                                                                                                                     Football plays begin from this imaginary line that's parallel to the goal lines
209221                                                                                                                                                                                                                                                                                                                                                                                  2 years before becoming the Rams' starting QB in 1999, he was playing in the Arena Football League

                      answer
18969          Lambeau Field
35284             the Giants
36792        Heaven Can Wait
52485           Damn Yankees
62480           Emmitt Smith
62498            Warren Moon
91485          Lance Alworth
130147    Sports Illustrated
130690      (Roger) Staubach
135888  "Dandy Don" Meredith
152750     a spectator sport
159085     Cuba Gooding, Jr.
191687      British Columbia
192631     Line of scrimmage
209221         (Kurt) Warner

4. We may want to eventually compute aggregate statistics, like `.mean()` on the `" Value"` column. But right now, the values in that column are strings. Convert the`" Value"` column to floats. If you'd like to, you can create a new column with float values.

   While most of the values in the `" Value"` column represent a dollar amount as a string, note that some do not &mdash; these values will need to be handled differently!

   Now that you can filter the dataset of question, use your new column that contains the float values of each question to find the "difficulty" of certain topics. For example, what is the average value of questions that contain the word `"King"`?
   
   Make sure to use the dataset that contains the float values as the dataset you use in your filtering function.

In [4]:


jeopardy['value'] = pd.to_numeric(   #pd to numeric converts strings to numbers (floats/integers)
    jeopardy['value'].astype(str)    #converts everything in column to a string so we can perform replace without error        
           .str.replace(r'[$,]', '', regex=True),   #regex false is for multiple characters/ true is for one signle character, to be taken literally so if comma wasn't there it would be False just for $
    errors='coerce')   # means If a value cannot be converted to a number, turn it into NaN instead of throwing an error.”                      


def filter_questions(df, words):
    filter = lambda x: all(word in x for word in words)
    return df.loc[df['question'].apply(filter)]

words_list = ['King', 'England']

search_words = filter_questions(jeopardy, words_list)
king_england_avg_value = search_words.value.mean()
print(king_england_avg_value)

937.5

5. Write a function that returns the count of unique answers to all of the questions in a dataset. For example, after filtering the entire dataset to only questions containing the word `"King"`, we could then find all of the unique answers to those questions. The answer "Henry VIII" appeared 55 times and was the most common answer.

In [5]:
print(search_words.answer.nunique())

def unique_answers(df, words):
    filter = filter_questions(df, words)
    return filter.answer.nunique()

words_list = ['King', 'England']

unique_answer = unique_answers(jeopardy, words_list)
print(unique_answer)

41
41

6. Explore from here! This is an incredibly rich dataset, and there are so many interesting things to discover. There are a few columns that we haven't even started looking at yet. Here are some ideas on ways to continue working with this data:

 * Investigate the ways in which questions change over time by filtering by the date. How many questions from the 90s use the word `"Computer"` compared to questions from the 2000s?
 * Is there a connection between the round and the category? Are you more likely to find certain categories, like `"Literature"` in Single Jeopardy or Double Jeopardy?
 * Build a system to quiz yourself. Grab random questions, and use the <a href="https://docs.python.org/3/library/functions.html#input">input</a> function to get a response from the user. Check to see if that response was right or wrong.

In [ ]:
def date_comparison(df,words, decades):
    filtered = filter_questions(df,words)
    year = filtered['air_date'].str[:4].astype(int)
    results = []
    for start_year, end_year in decades:
        subset = filtered.loc[(year >= start_year) & (year <= end_year)]
        results.append(len(subset))
    return results

compare_computer = date_comparison(jeopardy, ['Computer'], [(1990, 1999), (2000, 2009)])


print(compare_computer)

lit = jeopardy['category'].apply(lambda x: True if 'LITERATURE' in x else False)

mask_lit = jeopardy.loc[lit]

print(mask_lit)

lit_round = mask_lit.groupby('round').size()

print(lit_round)

## quiz

random_questions = jeopardy.sample(n=5)

ask_questions = random_questions[['category', 'value', 'question', 'answer']]

category_q1 = ask_questions['category'].values[0]

value_q1 = ask_questions['value'].values[0]

question_q1 = ask_questions['question'].values[0]

answer_q1 = ask_questions['answer'].values[0]

print(f'Category: {category_q1}\n Value: {value_q1}\n Question: {question_q1}')

user_answerq1 = 'violin'

if user_answerq1 == answer_q1:
    print(f'Correct you won: {value_q1}')

else:
    print(f'Incorrect! The correct answer was: {answer_q1}')


def random_question_quiz(df):
    random_questions = df.sample(n=5)
    score = 0
    for index, row in random_questions.iterrows():
        category = row['category']
        value = row['value']
        question = row['question']
        answer = row['answer']
        print(f'Category: {category} \n Value: {value} \n Question: {question}')

        user_answer = input("Your answer: ").strip().lower()  # normalize input
        correct_answer = answer.strip().lower()
        
        if user_answer == correct_answer:
            print(f"Congrats! You have won {value}!\n")
            score += value if isinstance(value, (int, float)) else 0
        else:
            print(f"Incorrect! The answer was: {answer}\n")

    print(f"Quiz complete! Your total score: {score}")

    return score


final_score = random_question_quiz(jeopardy)
print(final_score)

[8, 25]
        show_number    air_date             round                category  \
2060           1800  1992-05-29  Double Jeopardy!  CHILDREN'S  LITERATURE
2066           1800  1992-05-29  Double Jeopardy!  CHILDREN'S  LITERATURE
2072           1800  1992-05-29  Double Jeopardy!  CHILDREN'S  LITERATURE
2078           1800  1992-05-29  Double Jeopardy!  CHILDREN'S  LITERATURE
2084           1800  1992-05-29  Double Jeopardy!  CHILDREN'S  LITERATURE
...             ...         ...               ...                     ...
216183         1983  1993-03-31  Double Jeopardy!              LITERATURE
216189         1983  1993-03-31  Double Jeopardy!              LITERATURE
216195         1983  1993-03-31  Double Jeopardy!              LITERATURE
216201         1983  1993-03-31  Double Jeopardy!              LITERATURE
216207         1983  1993-03-31  Double Jeopardy!              LITERATURE

         value  \
2060     200.0
2066     400.0
2072     600.0
2078     800.0
2084    1000.0
...        ...
216183   200.0
216189   400.0
216195   600.0
216201   800.0
216207  1200.0

                                                                                                          question  \
2060                               In one Grimm tale, 12 princesses dance these to pieces in an underground castle
2066                                  Anne Shirley leaves the orphanage to live on this "colorful" farm in Avonlea
2072                       "The Comic Adventures of" this elderly woman "and her Dog" were first published in 1805
2078                                 Dinarzade is the younger sister of this woman known for her nocturnal stories
2084               Madeline is one of "twelve little girls in two straight lines" who attend a school in this city
...                                                                                                            ...
216183              The book-of-the-month club calls this Dostoyevsky work "the greatest crime novel ever written"
216189                                       In an 1896 sequel, this Mark Twain title character turned "Detective"
216195        In 1846 these sisters published a collection of poems under the pen names Currer, Ellis & Acton Bell
216201  One of his last collections of tales, "Uncle Remus and the Little Boy", was published posthumously in 1910
216207                  This Hemingway novel about the "Lost Generation" is told from the viewpoint of Jake Barnes

                      answer
2060             their shoes
2066            Green Gables
2072      Old Mother Hubbard
2078               Shahrazad
2084                   Paris
...                      ...
216183  Crime and Punishment
216189            Tom Sawyer
216195    the Brontë sisters
216201  Joel Chandler Harris
216207    The Sun Also Rises

[1559 rows x 7 columns]
round
Double Jeopardy!    1054
Final Jeopardy!       82
Jeopardy!            423
dtype: int64
Category: POTATOES
 Value: 400.0
 Question: This country leads the world in production of potatoes
Incorrect! The correct answer was: Soviet Union
Category: HOT ENOUGH FOR YOU?
 Value: 1600.0
 Question: Europe's highest recorded temperature was 122 in 1881 in this Spanish city; it cooled down in time for Expo 1992

## Solution

7. Compare your program to our <a href="https://content.codecademy.com/PRO/independent-practice-projects/jeopardy/jeopardy_solution.zip">sample solution code</a> - remember, that your program might look different from ours (and probably will) and that's okay!

8. Great work! Visit <a href="https://discuss.codecademy.com/t/this-is-jeopardy-challenge-project-python-pandas/462365">our forums</a> to compare your project to our sample solution code. You can also learn how to host your own solution on GitHub so you can share it with other learners! Your solution might look different from ours, and that's okay! There are multiple ways to solve these projects, and you'll learn more by seeing others' code.